/* 구글 Noto Santos  Font 제목 메뉴 용   
font-family: 'Noto Sans KR', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
/* 네이버 나눔 고딕 본문용
font-family: 'Nanum Gothic', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR&display=swap');
/*  
/* background: rgb(42, 42, 123); 네비 색상 */
/* 
Black Han Sans 굵은 폰트
font-family: 'Black Han Sans', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gothic+A1&family=Nanum+Gothic&family=Noto+Sans+KR&display=swap');
/* 
한글 굵은 성격
font-family: 'Song Myung', serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gothic+A1&family=Nanum+Gothic&family=Noto+Sans+KR&family=Song+Myung&display=swap');
  /*

*/

/* 헤더는 다른 css */
/* 
본문은 14~17px가 많이 쓰인다. 글씨 줄이자
font-xs: 0.75rem  12px
font-sm: 0.875rem 14px
font-base: 1rem   16px
font-lg: 1.125rem 18px
font-xl: 1.25rem  20px  
*/

/* 메인 레이아웃 그리드  */
#mainStyle {

  display:grid;
  grid-template-columns: minmax(0px,1fr)  repeat(2,600px) minmax(0px,1fr);
  grid-template-rows: 600px repeat(2,600px);
  text-align: center;
  /* 양 옆 마진  */

  /* 그리드 간격 50px */
  /* gap: 50px; */
  /* gap: 40px; */


  grid-template-areas: 
  ". scr scr . "
  ". box1 box2."
  ". box3  box4."; 
}
/* 사진 */
.scr{
  grid-area: scr;
}
.scr img{
  width: 100%;
  height: 100%;
  
}
/* 메인 이미지를 제외한 나머지 그리드 공통 마진 
    그리드 갭 대신 마진으로 대체  */
.box {
  margin: 50px 50px;

}
/* 필드셋 선 안보이게 */
.fieldnone{
  border: none;
}

/*  */
/* 직업정보 css*/
.box1 {

  grid-area:box1;
/* 글이 길어서 개별 박스 마진으로 바텀은 0줌 */
  margin: 0 50px ;

}
/* 박스1 직업 정보란 div*/
.textarea{
  font-size: 0.75rem;
  text-align: left;
  padding: 20px;
}
.texthead{
  text-align: center;
  font-size: 1.125rem;
  font-weight: bold;
  background-color:rgb(76, 111, 219);
  color: white;
}
/* 직업 정보란 리스트 */
.textlist{
  display: block;
  list-style-type: disc;
  padding-left: 20px;
}
.textlist li::marker{
  color:rgb(42, 42, 123);

}
.textlist li{
  line-height: 20px;
  /* font-weight: bold; */
}
/* 직업 정보란 글씨중 직업,핵심 능력 등 강조할 제목 */
.texttitle{
  font-size: 0.875rem;
  font-weight: bold;
}

.linkbutton{
  background-color:rgb(76, 111, 219);
  padding: 5px;
  border-radius: 10px;
  border: none;
  /* 밑에 a가 없을 경우 대비 */
  color: white;
  font-size: 1rem;
  font-weight: bold;
}
.linkbutton2{
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  border: none;
  /* 밑에 a가 없을 경우 대비 */
  color: rgb(76, 111, 219)

}

.linkbutton a{
  color: white;
  font-weight: bold;
  border: solid 1px rgb(76, 111, 219);
}

/* 직업 정보 끝 */

/* 나에게 맞는 직업 추천*/
.box2 {

  grid-area:box2;

  margin: 0 50px;
  }
/* 적성유형 리스트 */
.listinline li{
  display: inline-block;
  line-height: 50px;
  width: 80px;
}

/* 직업 조건 리스트 */
.listone li{
  display: inline-block;
  width: 70px;
}
/* 센터 정렬 전용 클래스 */
.oncenter{
  text-align: center;
}

/* 나에게 맞는 직업 끝*/

/*  */
.box3 {
  
  grid-area:box3;

}

/* 리스트 설정 inline-block로해야 뭔가 정리 된다. */
.listinline2 li{
  display: inline-block;
  width: 80px;
  text-align: left;
  line-height: 50px;
}

.listinline3 li{
  display: inline-block;
  width: 95px;
  text-align: left;
  line-height: 50px;
}

.listinline4 li{
  display: inline-block;
  width: 140px;
  text-align: left;
  line-height: 50px;
}
/* 리스트 설정 끝  */


/* 검색 순위 기능끝 */

.box4 {

  grid-area:box4;

}

.box4 fieldset {
  border-style: none;
  
  text-align: left;

  padding-left: 100px;

  font-size: 1rem;
}

.box4 select{
  font-weight: bold;

}

.box4 option{
  font-weight: bold;

}

/*박스제목 단 스타일 */
.h2style {
  width: 100%;
  line-height: 50px;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  /* background: rgb(42, 42, 123); */
  background-color:rgb(54, 82, 168);

}


/* 폼 버튼 스타일 결과보기 다시하기 용 */
.buttonsumit {
  /* background-color: rgb(49, 102, 206); */
  background: rgb(42, 42, 123);
  border-style: none;
  border-radius: 20px;
  width: 120px;
  line-height: 50px;
  color: white;
  font-size: 1.125rem;
  font-weight: bold;

}

.buttontreset {
  /* background-color: rgb(49, 102, 206); */
  background:  white;
  border-style: none;
  border-radius: 20px;
  width: 120px;
  line-height: 50px;
  color: rgb(42, 42, 123);
  border: solid 2px;
  font-size: 1.125rem;
  font-weight: bold;
}

button:hover {
  background-color:#aaa;
  /* font-size: 1.25rem; */
}
/* 버튼 스타일 결과보기 다시하기 끝 */

/* 메인 레이아웃 끝 */
